/*GENERAL*/

	@import url('https://fonts.googleapis.com/css?family=Nunito:300,400|Quicksand');

	body{
		font-family: 'Quicksand', sans-serif;
		font-size:20px;
	}

	.container-fluid{
	 	margin:0;
	 	padding:0;
	 }

	 .row{
	 	margin-left: 0;
	 	margin-right:0;
	 }

	 /*NAVBAR*/

	#tedxlogo{
		width:200px;
	}

	/*HEADER*/

	.header{
		background:black;
		background-size: cover;
		position: absolute;
	 	width: 100%;
	 	height: 100%;
	 	top: 0;
	 	right: 0;
	 	z-index: 10;
	 	background-color: rgb(0, 0, 0);
	 	background-color: rgba(0, 0, 0, 0.5);
	}

	 #headertext{
	 	position: absolute;
	 	width: 100%;
	 	height: 100%;
	 	top: 30%;
	 	right: 0;
	 	z-index: 10;
	 }

	.title{
		text-align: center;
		color:white;
		font-size: 50px;
	}

	.subtitle{
		text-align: center;
		font-size:30px;
		color:white;
		margin-bottom: 40px;
	}

	.boutonun{
		text-align: center;
		color:white;
	}

	.boutondeux{
		text-align: center;
		color:white;
	}

	.btn:hover{
		background-color:rgb(255,42,3);
 		color:white;
	}

	 .carousel-block {
	 	position: relative;
	 	top:100px;
	 } 

	/*TITRES SECTIONS */
	
	.bandeaux-rouges{
		height: 200px;
		background:rgb(255,42,3);
		line-height: 200px;
		width:100%;
		background-size: cover;
		z-index:20;
		position: relative;
	}

	/* SECTION EVENEMENT */

	#theevent{
		text-align: center;
		color:white;
	}

	#blocevenement{
		text-align: center;
		color:white;
		padding: 5%;
		background-image: url(img/fondevent.jpg);
		background-size: cover;
	}

	.card{
		margin: 5%;
		color:black;
	}
 
	.card-deck{
		padding: 1%;
	}

	#googlemaps{
		padding-left:5%;
		padding-right:5%;
	}

	/*SECTION TEAM */

	#theteam{
		text-align: center;
		vertical-align: middle;
		color:white;
	}

	.minititle{
		margin-bottom: 50px;
		margin-top: 50px;
		font-weight: bold;
	}

	#bloclequipe{
		background-image:url(img/theteam.jpg);
		background-size: cover;
		padding: 5%;
	}

	.names{
		text-align: center;
		color:white;
		margin-bottom: 5%;

	}
	.posts{
		text-align: center;
		color:white;
		font-size: 
	}
	.people-img{
		text-align: center;
	}

	.col-sm{
		text-align: center;
	}

	* {
		 -moz-box-sizing: border-box;
		 -webkit-box-sizing: border-box;
		 box-sizing: border-box;
		 margin: 0;
		 padding: 0;
	}

	.people-img {
		position: relative;
		border: 0px;
		margin: 2%;
		overflow: hidden;
	}

	.people-img img {
		padding:7%;
		max-width: 100%;
		-moz-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

	.people-img:hover img {
		-moz-transform: scale(1.2);
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}

	/*SECTION PARTNERS*/

	#partners{
		text-align: center;
		vertical-align: middle;
		color:white;
	}

	.partners-img {
		position: relative;
		border: 0px;
		margin: 2%;
		overflow: hidden;
	}

	.partners-img img {
		padding:7%;
		max-width: 100%;
		-moz-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
	}

	.partners-img:hover img {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}

	#blocpartners{
		background-image: url(img/partners.jpg);
		background-size:cover;
		padding: 5%;
	}

	.partnerslogos{
		text-align: center;
	}


	/*SECTION ABOUT */

	#about{
		text-align: center;
		vertical-align: middle;
		color:white;
	}

	 #blocabout{
	 	position: relative;
		text-align: center;
		color:white;
		background-image:url(img/abouttedx.jpg);
		width: 100%;
		height: 100%;
		background-size: cover;
		padding:5%;
	}

		#boutonlearn{
		text-decoration: none;
		color:white;
	}

	/* FOOTER */

	.copyright{
		font-size: 12px;
		color:white;
		position:absolute;
		bottom:0%;
		right:2%;
	}

	footer{
		height: 200px;
		background-color:black;
		position: relative;
	}


	/* RESPONSIVE */

	/* Extra small devices (portrait phones, less than 576px) */
	@media (max-width: 575px) {
		
		body{
			font-size: 14px;
		}

		.title{
			font-size:20px;
		}

		.subtitle{
			font-size:18px;
		}

		.btn{
			font-size:14px;
		}

		h4{
			font-size: 20px;
		}

		#tedxlogo{
			width:100px;
		}

		.header{
			height: 100%;
		}

		.carousel-block{
			top:80px;
		}

	}

	/* Small devices (landscape phones, 576px and up) */
	@media (min-width: 576px) and (max-width: 767px) {
		body{
			font-size: 14px;
		}

		.title{
			font-size:20px;
		}

		.subtitle{
			font-size:18px;
		}

		.btn{
			font-size:14px;
		}

		h4{
			font-size: 20px;
		}


		#tedxlogo{
			width:100px;
		}

		.header{
			height: 100%;
		}

		.carousel-block{
			top:80px;
		}
	}


	/* Medium devices (tablets, 768px and up) */
	@media (min-width: 768px) and (max-width: 991px) { 
		body{
			font-size: 14px;
		}

		.title{
			font-size:20px;
		}

		.subtitle{
			font-size:18px;
		}

		.btn{
			font-size:14px;
		}

		h4{
			font-size: 20px;
		}


		#tedxlogo{
			width:100px;
		}

		.header{
			height: 100%;
		}

		.carousel-block{
			top:80px;
		}


	}

